@model ExpenseTrackingApp.Models.TransactionOnline

@{
	ViewBag.Title = "TransactionsOnline";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<ExpenseTrackingApp.Models.TransactionOnline> transactions = ViewData["TransList"] as List<ExpenseTrackingApp.Models.TransactionOnline>;
	List<string> categs = ViewData["categories"] as List<string>;
	int categoryCounter = 0;
}

<h2>TransactionsOnline</h2>

<hr class="newstyle" />
	<p>Here you will find all your bank transactions that are not connected to the bank accounts.</p>
		<table class="table">
			<thead>
				<tr>
					<th>Amount</th>
					<th>Description</th>
					<th>Category</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var transaction in transactions)
				{
					<tr>
						<td>€ @transaction.Amount </td>
						<td>@transaction.TransactionDescription</td>
						<td>@categs.ElementAt(categoryCounter) </td>
						<td>@transaction.DateAdded.ToShortDateString()</td>
						<td>
						</td>
					</tr>
					categoryCounter++;
				}
			</tbody>
		</table>
	</div>
</div>