@model ExpenseTrackingApp.Models.TransactionPersonal

@{
    ViewBag.Title = "Add Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Transaction</h2>
<hr class="newstyle" />